[Unit]
Description=Stonkboard helps buy the stonks
After=multi-user.target
After=network.target
After=network-online.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
User=pi
Group=pi
StandardOutput=journal
WorkingDirectory=/home/pi/Documents/Stonkboard
ExecStart=/bin/bash /home/pi/Documents/Stonkboard/start.sh

[Install]
WantedBy=graphical.target
