[Unit]
Description=A Stonkboard to help buy the stonks
After=syslog.target network.target multi-user.target lightdm.service

[Service]
Type=simple
StandardOutput=journal
TimeoutStartSec=0
WorkingDirectory=/home/pi/Documents/Stonkboard
ExecStart=/home/pi/Documents/Stonkboard/start.sh

[Install]
WantedBy=multi-user.target
