// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #ffffff;

$title-color:       rgba(255, 255, 255, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-stock {

    background-color: $background-color;

    .logo {
        width: 35px;
        height: 35px;
    }

    .title {
        color: $title-color;
        margin-bottom: 0px;
        text-align: left;
    }
    
    .name {
        text-align: left;
        color: #bbbbbb;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
    }

    .value {
        color: $value-color;
        margin-bottom: 0px;
    }

    .change-rate {
        font-weight: 500;
        font-size: 20px;
        color: $value-color;
        text-align: right;
    }

    .more-info {
        color: $moreinfo-color;
        position: relative;
        margin-top: 10px;
    }

    .updated-at {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
    }
    
    .stock-changeup {
        color: lightgreen;
    }

    .stock-changedown {
        color: red;
    }

}
