// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #ffffff;

$title-color:       rgba(255, 255, 255, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-stock {

    background-color: $background-color;

    .logo {
        width: 40px;
        height: 40px;
    }

    .title {
        color: $title-color;
        margin-bottom: 0px;
        text-align: left;
    }
    
    .name {
        text-align: left;
        color: #bbbbbb;
    }

    .value {
        color: $value-color;
        margin-bottom: 0px;
    }

    .change-rate {
        font-weight: 500;
        font-size: 20px;
        color: $value-color;
        text-align: right;
    }

    .more-info {
        color: $moreinfo-color;
    }

    .updated-at {
        color: rgba(255, 255, 255, 0.5);
    }

}
